.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: limegreen;
    display: inline-block;
    margin: 2rem;
    
}

.circle.active {
    box-shadow: inset 5px 5px 10px black;
    background: url("https://source.unsplash.com/w9KEokhajKw") no-repeat center center / cover;
}