@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

body {
  margin: 0;
  font-family: 'Wallpoet', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(navy, fuchsia);
  background-repeat: no-repeat;
  background-size: cover;

}

button {
  border-style: none;
  border-radius: 3px;
  font-family: 'Wallpoet', cursive;
  background-color: lightsteelblue;
  margin: 3rem;
  padding: 1rem;

}
