
.mainNavContainer {
    float: right;
}

ul {
   
    display: flex;
    justify-items: center;
    align-content: center;
}

li {
    list-style-type: none;
    margin-right: 15px;
    text-decoration: none;

}