body {
    background-image: url("https://source.unsplash.com/fsJB3KT2rj8");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homeContainer {
    margin: 3rem;
    padding: 2rem;
    background: rgba(102, 179, 177, 0.7);
    border-radius: 5px;
    color: black;
    
}
.homeContainer h1 {
    margin-bottom: 3rem;
}