body{
  background-color:lightcyan;
 

}
.counterContainer {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
margin: 30px 150px;
justify-items: center;
align-items: center;


}

.likes {
grid-column: 2;
width: 200px;
height: 200px;
border-radius: 50%;
box-shadow: 0 0 5px darkcyan;
padding: 1rem;
display: grid;
justify-items: center;
align-items: center;
}

.even {
  background-color: rgb(114, 114, 207);
}

.odd {
  background-color: aquamarine;
}

button {
  grid-row: 2;
  height: 50px;
  padding: 10px 40px;
  /* margin: 30px; */
  background:  rgb(25, 25, 117);
  color: white;
  border-style: none;
  border-radius: 3px;
  text-transform: uppercase;
  
}